@{
  Layout = "_Layout";
}

@using Pierres.Models;

<div class="container-fluid">
  <div class="d-flex justify-content-center"> 
    <h1 id="title" style="font-size:6vw">PIERRE'S TREATS</h1>
  </div>

  @foreach (Treat treat in Model)
  {
    <p>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId }, new { @class = "header" })</p>  
  }

  @foreach (Treat treat in Model)
    {
      @foreach(var join in treat.JoinEntities)
        {
          <p> @Html.ActionLink($"{join.Flavor.Name}  ", "Details", "Flavors", new { id = join.Flavor.FlavorId }, new { @class = "header" })</p>
        } 
    }
</div>